#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.puppyList{
 
  background-color: whitesmoke;
  font-size: x-large;
  font-weight: bolder;
  color: red;
  box-shadow: 0 14px 16px  black;
}
.header {
  font-size: 3.2em;
  line-height: 1.1;
  color: blueviolet;
  background-color: whitesmoke;
  box-shadow: 0 14px 16px  black;
}
body{
  background-color:rgb(181, 204, 239);
}

.newList{
  align-items: center;
  background-color: grey;
  font-size: x-large;
  font-weight: bolder;
  color:yellow;
  box-shadow: 0 14px 16px  black;
}
.ulList { 
 color: aliceblue;
}
h3{
  color: blue;
}
